@using EducationalForms.UI.Helper
@using Microsoft.OpenApi.Extensions
@model List<EducationalForms.UI.Dtos.LeadDto>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>لیست متقاضی ها </h1>

<table class="table">
    <tr>
        <th> نام و نام خانوادگی</th>
        <th>جنسیت</th>
        <th>زمان تماس</th>
        <th>موبایل</th>
        <th>تلفن ثابت</th>
        <th>مشاور</th>
        <th>شیوه آشنایی</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Name @item.Family</td>
            <td>@item.Gender.GetDisplayName()</td>
            <td>@item.CalledOn.ToPersianDateTime()</td>
            <td>@item.CellPhone</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Consultant?.Name @item.Consultant?.Family</td>
            <td>@item.FamiliarityMethod?.Name</td>
            <td>
                <a href="~/Student/Create?leadId=@item.Id">ثبت نام</a>|
                | حذف
            </td>
        </tr>
    }
</table>