@model List<EducationalForms.UI.Dtos.LeadDto>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>لیست تماس ها </h1>

<table class="table">
    <tr>
        <th> نام و نام خانوادگی</th>
        <th>جنسیت</th>
        <th>زمان تماس</th>
        <th>موبایل</th>
        <th>تلفن ثابت</th>
        <th>مشاور</th>
        <th>شیوه آشنایی</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Name @item.Family</td>
            <td>@item.Gender.ToString()</td>
            <td>@item.CalledOn.ToString("g")</td>
            <td>@item.CellPhone</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Consultant?.Name @item.Consultant?.Family</td>
            <td>@item.FamiliarityMethod?.Name</td>
            <td> ویرایش | ثبت نام | حذف  </td>
        </tr>
    }
</table>