@using System.Globalization
@using Domain.Enums
@model EducationalForms.UI.Dtos.StudentDto
@{
    ViewData["Title"] = "ایجاد مهارت آموز جدید";
    Layout = "_Layout";
}
<link type="text/css" href="https://cdn.jsdelivr.net/npm/@@dashboardcode/bsmultiselect@1.1.18/dist/css/BsMultiSelect.bs4.min.css" />

<style>
    .badge {
        color: #000000 !important;
    }

</style>
<h1>ایجاد مهارت آموز جدید</h1>
<div class="col-md-12 col-lg-12">
    <h4 class="mb-3">ورود اطلاعات مهارت آموز جدید</h4>
    <form action="/Student/Create" method="post">
        <div class="row g-3">
            <div class="col-sm-6">
                @Html.LabelFor(t=>t.Name , new {@class="form-label"})
                @Html.TextBoxFor(m=>m.Name,"",new { @class="form-control" , @required="required"  } )
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(t=>t.Family , new {@class="form-label"})
                @Html.TextBoxFor(m=>m.Family,"",new { @class="form-control" , @required="required"  } )
            </div>
            <div class="col-sm-6">
                <div class="form-check">
                    @Html.LabelFor(t=>t.Gender , new {@class="form-label"})
                    @Html.DropDownListFor(t => t.Gender, (List<SelectListItem>)ViewBag.GenderEnumList, null, new {@class = "form-select"})
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-check">
                    @Html.LabelFor(t=>t.FamiliarityMethodId , new {@class="form-label"})
                    @Html.DropDownListFor(t => t.FamiliarityMethodId, (List<SelectListItem>)ViewBag.FamiliarityMethod, null, new {@class = "form-select"})
                </div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(t=>t.CellPhone , new {@class="form-label"})
                @Html.TextBoxFor(m=>m.CellPhone,"",new { @class="form-control" , @required="required"  } )
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(t=>t.NationalCode , new {@class="form-label"})
                @Html.TextBoxFor(m=>m.NationalCode,"",new { @class="form-control" , @required="required"  } )
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-10">
                        @Html.LabelFor(t => t.PhoneNumber, new {@class = "form-label"})
                        @Html.TextBoxFor(m => m.PhoneNumber, "", new {@class = "form-control"})
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(t => t.CityCode, new {@class = "form-label"})
                        @Html.TextBoxFor(m => m.CityCode, "", new {@class = "form-control"})
                    </div>

                </div>


            </div>
            <div class="col-sm-6">
                @Html.LabelFor(t=>t.PlaceOfIssued , new {@class="form-label"})
                @Html.TextBoxFor(m=>m.PlaceOfIssued,"",new { @class="form-control" , @required="required"  } )
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(t=>t.FatherName , new {@class="form-label"})
                @Html.TextBoxFor(m=>m.FatherName,"",new { @class="form-control" , @required="required"  } )
            </div>


            <div class="col-sm-6">
                @Html.LabelFor(t=>t.WhatsAppNumber , new {@class="form-label"})
                @Html.TextBoxFor(m=>m.WhatsAppNumber,"",new { @class="form-control" , @required="required"  } )
            </div>


            <div class="col-sm-6">
                @Html.LabelFor(t=>t.Citizen , new {@class="form-label"})
                @*@Html.TextBoxFor(m=>m.Citizen,"",new { @class="form-control" , @required="required"  } )*@
                <!-- All countries -->
                <select id="Citizen" name="Citizen" class="form-control" , required="required">
                    <option>کشور</option>
                    <option value="Iran, Islamic Republic of">ایران (جمهوری اسلامی</option>
                    <option value="Afghanistan">افغانستان</option>
                    <option value="Aland Islands">جزایر الند</option>
                    <option value="Albania">آلبانی</option>
                    <option value="Algeria">الجزایر</option>
                    <option value="American Samoa">ساموآ آمریکایی</option>
                    <option value="Andorra">آندورا</option>
                    <option value="Angola">آنگولا</option>
                    <option value="Anguilla">آنگویلا</option>
                    <option value="Antarctica">جنوبگان</option>
                    <option value="Antigua and Barbuda">آنتیگوا و باربودا</option>
                    <option value="Argentina">آرژانتین</option>
                    <option value="Armenia">ارمنستان</option>
                    <option value="Aruba">آروبا</option>
                    <option value="Australia">استرالیا</option>
                    <option value="Austria">اتریش</option>
                    <option value="Azerbaijan">آذربایجان</option>
                    <option value="Bahamas">باهاما</option>
                    <option value="Bahrain">بحرین</option>
                    <option value="Bangladesh">بنگلادش</option>
                    <option value="Barbados">باربادوس</option>
                    <option value="Belarus">بلاروس</option>
                    <option value="Belgium">بلژیک</option>
                    <option value="Belize">بلیز</option>
                    <option value="Benin">بنین</option>
                    <option value="Bermuda">برمودا</option>
                    <option value="Bhutan">بوتان</option>
                    <option value="Bolivia">بولیوی</option>
                    <option value="Bonaire, Sint Eustatius and Saba">بونیر ، سینت اوستاتیوس و صبا</option>
                    <option value="Bosnia and Herzegovina">بوسنی و هرزگوین</option>
                    <option value="Botswana">بوتسوانا</option>
                    <option value="Bouvet Island">جزیره بووت</option>
                    <option value="Brazil">برزیل</option>
                    <option value="British Indian Ocean Territory">قلمرو اقیانوس هند انگلیس</option>
                    <option value="Brunei Darussalam">برونئی دارالسلام</option>
                    <option value="Bulgaria">بلغارستان</option>
                    <option value="Burkina Faso">بورکینافاسو</option>
                    <option value="Burundi">بوروندی</option>
                    <option value="Cambodia">کامبوج</option>
                    <option value="Cameroon">کامرون</option>
                    <option value="Canada">کانادا</option>
                    <option value="Cape Verde">کیپ ورد</option>
                    <option value="Cayman Islands">جزایر کیمن</option>
                    <option value="Central African Republic">جمهوری آفریقای مرکزی</option>
                    <option value="Chad">چاد</option>
                    <option value="Chile">شیلی</option>
                    <option value="China">چین</option>
                    <option value="Christmas Island">جزیره کریسمس</option>
                    <option value="Cocos (Keeling) Islands">جزایر کوکوس (کیلینگ)</option>
                    <option value="Colombia">کلمبیا</option>
                    <option value="Comoros">کومور</option>
                    <option value="Congo">کنگو</option>
                    <option value="Congo, Democratic Republic of the Congo">کنگو ، جمهوری دموکراتیک کنگو</option>
                    <option value="Cook Islands">جزایر کوک</option>
                    <option value="Costa Rica">کاستاریکا</option>
                    <option value="Cote D'Ivoire">ساحل عاج</option>
                    <option value="Croatia">کرواسی</option>
                    <option value="Cuba">کوبا</option>
                    <option value="Curacao">کوراکائو</option>
                    <option value="Cyprus">قبرس</option>
                    <option value="Czech Republic">جمهوری چک</option>
                    <option value="Denmark">دانمارک</option>
                    <option value="Djibouti">جیبوتی</option>
                    <option value="Dominica">دومینیکا</option>
                    <option value="Dominican Republic">جمهوری دومینیکن</option>
                    <option value="Ecuador">اکوادور</option>
                    <option value="Egypt">مصر</option>
                    <option value="El Salvador">السالوادور</option>
                    <option value="Equatorial Guinea">گینه استوایی</option>
                    <option value="Eritrea">اریتره</option>
                    <option value="Estonia">استونی</option>
                    <option value="Ethiopia">اتیوپی</option>
                    <option value="Falkland Islands (Malvinas)">جزایر فالکلند (مالویناس)</option>
                    <option value="Faroe Islands">جزایر فارو</option>
                    <option value="Fiji">فیجی</option>
                    <option value="Finland">فنلاند</option>
                    <option value="France">فرانسه</option>
                    <option value="French Guiana">گویان فرانسه</option>
                    <option value="French Polynesia">پلینزی فرانسه</option>
                    <option value="French Southern Territories">سرزمین های جنوبی فرانسه</option>
                    <option value="Gabon">گابن</option>
                    <option value="Gambia">گامبیا</option>
                    <option value="Georgia">گرجستان</option>
                    <option value="Germany">آلمان</option>
                    <option value="Ghana">غنا</option>
                    <option value="Gibraltar">جبل الطارق</option>
                    <option value="Greece">یونان</option>
                    <option value="Greenland">گرینلند</option>
                    <option value="Grenada">گرنادا</option>
                    <option value="Guadeloupe">گوادلوپ</option>
                    <option value="Guam">گوام</option>
                    <option value="Guatemala">گواتمالا</option>
                    <option value="Guernsey">گرنزی</option>
                    <option value="Guinea">گینه</option>
                    <option value="Guinea-Bissau">گینه بیسائو</option>
                    <option value="Guyana">گویان</option>
                    <option value="Haiti">هائیتی</option>
                    <option value="Heard Island and Mcdonald Islands">جزایر شنیده شده و جزایر مک دونالد</option>
                    <option value="Holy See (Vatican City State)">سفر مقدس (ایالت شهر واتیکان)</option>
                    <option value="Honduras">هندوراس</option>
                    <option value="Hong Kong">هنگ کنگ</option>
                    <option value="Hungary">مجارستان</option>
                    <option value="Iceland">ایسلند</option>
                    <option value="India">هند</option>
                    <option value="Indonesia">اندونزی</option>

                    <option value="Iraq">عراق</option>
                    <option value="Ireland">ایرلند</option>
                    <option value="Isle of Man">جزیره من</option>
                    <option value="Israel">اسرائيل</option>
                    <option value="Italy">ایتالیا</option>
                    <option value="Jamaica">جامائیکا</option>
                    <option value="Japan">ژاپن</option>
                    <option value="Jersey">پیراهن ورزشی</option>
                    <option value="Jordan">اردن</option>
                    <option value="Kazakhstan">قزاقستان</option>
                    <option value="Kenya">کنیا</option>
                    <option value="Kiribati">کیریباتی</option>
                    <option value="Korea, Democratic People's Republic of">کره ، جمهوری دموکراتیک خلق</option>
                    <option value="Korea, Republic of">جمهوری کره</option>
                    <option value="Kosovo">کوزوو</option>
                    <option value="Kuwait">کویت</option>
                    <option value="Kyrgyzstan">قرقیزستان</option>
                    <option value="Lao People's Democratic Republic">جمهوری دموکراتیک خلق لائو</option>
                    <option value="Latvia">لتونی</option>
                    <option value="Lebanon">لبنان</option>
                    <option value="Lesotho">لسوتو</option>
                    <option value="Liberia">لیبریا</option>
                    <option value="Libyan Arab Jamahiriya">جاماحیریه عرب لیبی</option>
                    <option value="Liechtenstein">لیختن اشتاین</option>
                    <option value="Lithuania">لیتوانی</option>
                    <option value="Luxembourg">لوکزامبورگ</option>
                    <option value="Macao">ماکائو</option>
                    <option value="Macedonia, the Former Yugoslav Republic of">مقدونیه ، جمهوری یوگسلاوی سابق</option>
                    <option value="Madagascar">ماداگاسکار</option>
                    <option value="Malawi">مالاوی</option>
                    <option value="Malaysia">مالزی</option>
                    <option value="Maldives">مالدیو</option>
                    <option value="Mali">مالی</option>
                    <option value="Malta">مالت</option>
                    <option value="Marshall Islands">جزایر مارشال</option>
                    <option value="Martinique">مارتینیک</option>
                    <option value="Mauritania">موریتانی</option>
                    <option value="Mauritius">موریس</option>
                    <option value="Mayotte">مایوت</option>
                    <option value="Mexico">مکزیک</option>
                    <option value="Micronesia, Federated States of">میکرونزی ، ایالات فدرال</option>
                    <option value="Moldova, Republic of">مولداوی ، جمهوری</option>
                    <option value="Monaco">موناکو</option>
                    <option value="Mongolia">مغولستان</option>
                    <option value="Montenegro">مونته نگرو</option>
                    <option value="Montserrat">مونتسرات</option>
                    <option value="Morocco">مراکش</option>
                    <option value="Mozambique">موزامبیک</option>
                    <option value="Myanmar">میانمار</option>
                    <option value="Namibia">ناميبيا</option>
                    <option value="Nauru">نائورو</option>
                    <option value="Nepal">نپال</option>
                    <option value="Netherlands">هلند</option>
                    <option value="Netherlands Antilles">آنتیل هلند</option>
                    <option value="New Caledonia">کالدونیای جدید</option>
                    <option value="New Zealand">نیوزلند</option>
                    <option value="Nicaragua">نیکاراگوئه</option>
                    <option value="Niger">نیجر</option>
                    <option value="Nigeria">نیجریه</option>
                    <option value="Niue">نیوئه</option>
                    <option value="Norfolk Island">جزیره نورفولک</option>
                    <option value="Northern Mariana Islands">جزایر ماریانای شمالی</option>
                    <option value="Norway">نروژ</option>
                    <option value="Oman">عمان</option>
                    <option value="Pakistan">پاکستان</option>
                    <option value="Palau">پالائو</option>
                    <option value="Palestinian Territory, Occupied">سرزمین فلسطین ، اشغال شده</option>
                    <option value="Panama">پاناما</option>
                    <option value="Papua New Guinea">پاپوآ گینه نو</option>
                    <option value="Paraguay">پاراگوئه</option>
                    <option value="Peru">پرو</option>
                    <option value="Philippines">فیلیپین</option>
                    <option value="Pitcairn">پیتکرن</option>
                    <option value="Poland">لهستان</option>
                    <option value="Portugal">کشور پرتغال</option>
                    <option value="Puerto Rico">پورتوریکو</option>
                    <option value="Qatar">قطر</option>
                    <option value="Reunion">تجدید دیدار</option>
                    <option value="Romania">رومانی</option>
                    <option value="Russian Federation">فدراسیون روسیه</option>
                    <option value="Rwanda">رواندا</option>
                    <option value="Saint Barthelemy">سنت بارتلمی</option>
                    <option value="Saint Helena">سنت هلنا</option>
                    <option value="Saint Kitts and Nevis">سنت کیتس و نویس</option>
                    <option value="Saint Lucia">سنت لوسیا</option>
                    <option value="Saint Martin">سنت مارتین</option>
                    <option value="Saint Pierre and Miquelon">سنت پیر و میکلون</option>
                    <option value="Saint Vincent and the Grenadines">سنت وینسنت و گرنادین ها</option>
                    <option value="Samoa">ساموآ</option>
                    <option value="San Marino">سان مارینو</option>
                    <option value="Sao Tome and Principe">سائوتومه و پرینسیپ</option>
                    <option value="Saudi Arabia">عربستان سعودی</option>
                    <option value="Senegal">سنگال</option>
                    <option value="Serbia">صربستان</option>
                    <option value="Serbia and Montenegro">صربستان و مونته نگرو</option>
                    <option value="Seychelles">سیشل</option>
                    <option value="Sierra Leone">سیرا لئون</option>
                    <option value="Singapore">سنگاپور</option>
                    <option value="Sint Maarten">سنت مارتین</option>
                    <option value="Slovakia">اسلواکی</option>
                    <option value="Slovenia">اسلوونی</option>
                    <option value="Solomon Islands">جزایر سلیمان</option>
                    <option value="Somalia">سومالی</option>
                    <option value="South Africa">آفریقای جنوبی</option>
                    <option value="South Georgia and the South Sandwich Islands">جنوب جورجیا و جزایر ساندویچ جنوبی</option>
                    <option value="South Sudan">سودان جنوبی</option>
                    <option value="Spain">اسپانیا</option>
                    <option value="Sri Lanka">سری لانکا</option>
                    <option value="Sudan">سودان</option>
                    <option value="Suriname">سورینام</option>
                    <option value="Svalbard and Jan Mayen">سوالبارد و جان ماین</option>
                    <option value="Swaziland">سوازیلند</option>
                    <option value="Sweden">سوئد</option>
                    <option value="Switzerland">سوئیس</option>
                    <option value="Syrian Arab Republic">جمهوری عربی سوریه</option>
                    <option value="Taiwan, Province of China">تایوان ، استان چین</option>
                    <option value="Tajikistan">تاجیکستان</option>
                    <option value="Tanzania, United Republic of">تانزانیا ، جمهوری متحد</option>
                    <option value="Thailand">تایلند</option>
                    <option value="Timor-Leste">تیمور-لسته</option>
                    <option value="Togo">رفتن</option>
                    <option value="Tokelau">توكلائو</option>
                    <option value="Tonga">تونگا</option>
                    <option value="Trinidad and Tobago">ترینیداد و توباگو</option>
                    <option value="Tunisia">تونس</option>
                    <option value="Turkey">بوقلمون</option>
                    <option value="Turkmenistan">ترکمنستان</option>
                    <option value="Turks and Caicos Islands">جزایر ترک و کایکوس</option>
                    <option value="Tuvalu">تووالو</option>
                    <option value="Uganda">اوگاندا</option>
                    <option value="Ukraine">اوکراین</option>
                    <option value="United Arab Emirates">امارات متحده عربی</option>
                    <option value="United Kingdom">انگلستان</option>
                    <option value="United States">ایالات متحده</option>
                    <option value="United States Minor Outlying Islands">جزایر کوچک حاشیه های ایالات متحده</option>
                    <option value="Uruguay">اروگوئه</option>
                    <option value="Uzbekistan">ازبکستان</option>
                    <option value="Vanuatu">وانواتو</option>
                    <option value="Venezuela">ونزوئلا</option>
                    <option value="Viet Nam">ویتنام</option>
                    <option value="Virgin Islands, British">جزایر ویرجین ، انگلیس</option>
                    <option value="Virgin Islands, U.s.">جزایر ویرجین ، انگلستان</option>
                    <option value="Wallis and Futuna">والیس و فوتونا</option>
                    <option value="Western Sahara">صحرای غربی</option>
                    <option value="Yemen">یمن</option>
                    <option value="Zambia">زامبیا</option>
                    <option value="Zimbabwe">زیمبابوه</option>
                </select>




            </div>


            <div class="col-sm-6">
                @Html.LabelFor(t=>t.IdentityNumber , new {@class="form-label"})
                @Html.TextBoxFor(m=>m.IdentityNumber,"",new { @class="form-control" , @required="required"  } )
            </div>

            <div class="col-sm-6">
                <div class="form-check">
                    @Html.LabelFor(t => t.BirthDate, new {@class = "form-label"})
                    @*@Html.TextBoxFor(m=>m.BirthDate,"",new { @class="form-control" , @required="required"  } )*@
                    @Html.DropDownListFor(m=>m.BirthDateDto.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "-- روز --")
                    @Html.DropDownListFor(m=>m.BirthDateDto.Month, Enumerable.Range(1, 12).Select(i => new SelectListItem {Value = i.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)}), "-- ماه --")
                    @Html.DropDownListFor(m=>m.BirthDateDto.Year, Enumerable.Range(new PersianCalendar().GetYear(DateTime.Now.AddYears(-100)), 100).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "-- سال --")
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-check">
                    @Html.LabelFor(t => t.RegisterTime, new {@class = "form-label"})
                    @Html.DropDownListFor(m => m.CreatedOnDto.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "-- روز --")
                    @Html.DropDownListFor(m => m.CreatedOnDto.Month, Enumerable.Range(1, 12).Select(i => new SelectListItem {Value = i.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)}), "-- ماه --")
                    @Html.DropDownListFor(m => m.CreatedOnDto.Year, Enumerable.Range(new PersianCalendar().GetYear(DateTime.Now.AddYears(-100)), 100).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "-- سال --")
                </div>
            </div>





            <div class="col-sm-6">
                <div class="form-check">
                    @Html.LabelFor(t=>t.MaritalStatus , new {@class="form-label"})
                    @Html.DropDownListFor(t => t.MaritalStatus, (List<SelectListItem>)ViewBag.MaritalStatusEnums, null, new {@class = "form-select"})
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-check">
                    @Html.LabelFor(t=>t.ConsultantId , new {@class="form-label"})
                    @Html.DropDownListFor(t => t.ConsultantId, (List<SelectListItem>)ViewBag.Consultants, null, new {@class = "form-select"})
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-check">
                    @Html.LabelFor(t=>t.StudentSkillIds , new {@class="form-label"})
                    @Html.ListBoxFor(r=>r.StudentSkillIds , (List<SelectListItem>)ViewBag.LeadSkills)
                </div>
            </div>






            <div class="col-sm-6">
                <div class="form-check">
                    @Html.LabelFor(t=>t.StudentServiceIds , new {@class="form-label"})
                    @Html.ListBoxFor(r=>r.StudentServiceIds, (List<SelectListItem>)ViewBag.StudentServices)
                </div>
            </div>


            <div class="col-sm-6">
                @Html.LabelFor(t=>t.Description , new {@class="form-label"})
                @Html.TextAreaFor(m=>m.Description,5 , 5,new { @class="form-control" , @required="required"  } )
            </div>

        </div>
        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg" type="submit">ذخیره</button>
    </form>
</div>


@section Scripts{


<!-- add polyfills to support popper 2 in IE1 -->
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.0/dist/umd/popper.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@@dashboardcode/bsmultiselect@1.1.18/dist/js/BsMultiSelect.bs4.min.js "></script>


<script>
    $(document).ready(function () {
    $('#StudentSkillIds').bsMultiSelect();
    });
</script>

}