@using Domain.Enums
@using EducationalForms.UI.Helper
@model List<EducationalForms.UI.Dtos.StudentDto>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>لیست هنر آموز ها </h1>


<table class="table">
    <tr>
        <th> کد شناسایی</th>
        <th> نام و نام خانوادگی</th>
        <th>جنسیت</th>
        <th>زمان تماس</th>
        <th>موبایل</th>
        <th>تلفن ثابت</th>
        <th>مشاور</th>
        <th>شیوه آشنایی</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Id </td>
            <td> @item.Name @item.Family</td>
            @if (@item.Gender == GenderEnum.Man)
            {
                <td>مرد</td>
            }
            else
            {
                <td>زن</td>
            }
            <td>@item.RegisterTime.ToPersianDateTime()</td>
            <td>@item.CellPhone</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Consultant?.Name @item.Consultant?.Family</td>
            <td>@item.FamiliarityMethod?.Name</td>
            <td> @*ویرایش | ثبت نام | حذف *@ </td>
        </tr>
    }
</table>